.left_nav_label label
{
   font-weight:100;
 }
 
 .left_search_nav
 {
  padding:5px;
  }
 
 .datetimepicker_st_dt_class
 {
 width:90px;
 }
 .flex_time_avail_class
 {
    width:80px;
    height:27px;
  }

  .range_val_class
  {
  	border: none;
  	background: transparent;
  	width:150px;
  }

   .slider_range_class .ui-widget-header
  {
  	background: #d4d4d4 none repeat scroll 0 0;
  }

  .left_search_filters_class .ui-state-default
  {
    background: transparent;
    border: none;
    color: #000;
    font-weight: 100;
  }

  .filter_checkboxes_label
  {
    font-weight: 100;
    margin-bottom: 0px;
  }

 .ui-accordion .ui-accordion-header .ui-icon 
 {
  position: absolute;
  left: 100%;
  margin-left: -30px;
  top: 50%;
  margin-top: -8px;

}

.ui-accordion .ui-accordion-icons {
    padding-left: 0em;
}
