.left_nav_label label
{
   font-weight:100;
 }
 
 .left_search_nav
 {
  padding:5px;
  }
 
 .datetimepicker_st_dt_class
 {
 width:90px;
 }
 .flex_time_avail_class
 {
    width:80px;
    height:27px;
  }

  .range_val_class
  {
  	border: none;
  	background: transparent;
  	width:150px;
  }

   .slider_range_class .ui-widget-header
  {
  	background: #d4d4d4 none repeat scroll 0 0;
  }

  .left_search_filters_class
  {
    padding-top: 10px;
  }

  .left_search_filters_class .ui-state-default
  {
    background: transparent;
    border: none;
    color: #000;
    font-weight: 100;
  }

  .filter_checkboxes_label
  {
    font-weight: 100;
    margin-bottom: 0px;
  }

.filter_search_hr_class
{
  background: #d4d4d4;
  color: #d4d4d4;
  border: none;
  padding: 0px;
  width: 100%;
  height: 1px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.filter_search_header_class
{
  margin-top: 0px;
  margin-bottom: 0px;
    line-height: 1;
  font-weight: 100;
}

.filter_search_chbxdiv_class
{
  padding-left: 20px;
}

.filter_btn_class
{
  line-height: 1;
  padding: 5px 15px 5px 15px;
}

.package_div_class
{

 padding: 0px;
 margin: 0px;
}

.package_div_class .panel-heading 
{
  padding-left: 0px;
  padding-right: 0px;
}

.package_div_class .panel-body 
{
  padding: 0px;
}

.package_div_class .panel-footer 
{
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
}

.package_div_disp_img_class
{
  width: 100%;
  }


